/* #region stylix overrides*/
.modules-left #workspaces button,
.modules-left #workspaces button.focused,
.modules-left #workspaces button.active,
.modules-center #workspaces button,
.modules-center #workspaces button.focused,
.modules-center #workspaces button.active,
.modules-right #workspaces button,
.modules-right #workspaces button.focused,
.modules-right #workspaces button.active {
  border-bottom: unset;
}
/* #endregion */

* {
  font-family: sans-serif;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

.modules-left,
.modules-center,
.modules-right {
  border: 0px solid #fff;
  padding-bottom: 4px;
  background-clip: content-box, padding-box;
  background-image:
    linear-gradient(90deg, @base01, @base01),
    linear-gradient(90deg, #a30262, #4a6bb1);
}

.modules-center,
.modules-left {
  border-bottom-right-radius: 15px;
  padding-right: 4px;
}

.modules-center,
.modules-right {
  border-bottom-left-radius: 15px;
  padding-left: 4px;
}

widget {
  margin: 0px 4px;
}

#workspaces,
#window,
#tray {
  padding: 4px 6px;
  margin-left: 6px;
  margin-right: 6px;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
  border-radius: 15px;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused,
#workspaces button.active {
  background-color: @base03;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
  padding: 0 10px;
  color: #ffffff;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#power-profiles-daemon {
  padding-right: 15px;
}

#power-profiles-daemon.performance {
  color: #f53c3c;
}

#power-profiles-daemon.balanced {
  color: #2980b9;
}

#power-profiles-daemon.power-saver {
  color: #2ecc71;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#language {
  padding: 0 5px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
  background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
  background-color: transparent;
}

#privacy {
  padding: 0;
}

#privacy-item {
  padding: 0 5px;
  color: white;
}

#privacy-item.screenshare {
  background-color: #cf5700;
}

#privacy-item.audio-in {
  background-color: #1ca000;
}

#privacy-item.audio-out {
  background-color: #0069d4;
}
